.header{
    width: 100%;
    height: 400px;
    z-index: 0;
}
.swiperContainer{
    width: 100%;
    height: 400px;
    background-size: cover;
    color: #fff;
    display:flex;
    justify-content:center;
}
.headerContainer{
    width:100%;
    max-width:768px;
    padding-left: 1em;
}
.headerContainer h3{
    text-transform: uppercase;
    font-size: 4em;
    text-shadow: 2px 1px 4px #000;
    font-weight: 500;
    margin-top: 1em;
    line-height: 1.1;
    /* line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.genres{
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 2px 1px 4px #000;
    font-weight: 400;
}
.watchTrailerButton{
    display: inline-block;
    font-family: inherit;
    padding: 0.8em 1.6em;
    background-color: #ffd007;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2em;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
    transition: ease .3s;
    margin-top: 1em;
}
.watchTrailerButton:hover{
    filter:contrast(1.4);
}
.headerContainer p:not(.genres){
    margin-top: 1em;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 3px 2px 4px #000;
    letter-spacing: 1px;
}
.spanReleaseDate{
    color:#ffd007;
    text-shadow: 3px 2px 4px #000;
    font-weight: 200;
    letter-spacing: 2px;
}
@media (max-width: 769px){
    .header{
        height: 300px;
    }
    .headerContainer{
        padding-left: 2em;
    }
    .headerContainer h3{
        font-size: 3em;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}
@media (max-width: 500px){
    .header{
        height: 200px;
    }
    .headerContainer h3{
        font-size: 1.5em;
    }
    .genres{
        font-size: 12px;
    }
    .watchTrailerButton{
        padding: 0.2em 0.4em;
    }
}
